window {
margin: 0px;
border: 2px solid --wofi-color8;
background-color: --wofi-color0;
}

#input {
margin: 5px;
color: --wofi-color14;
background-color: --wofi-color11;
}

#inner-box {
margin: 5px;
border: none;
background-color: --wofi-color0;
}

#outer-box {
margin: 5px;
border: none;
background-color: --wofi-color0;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
color: --wofi-color8;
}

#text:selected {
color: --wofi-color8;
}

#entry:selected {
background-color: --wofi-color11;
box-shadow: inset 0 -3px --wofi-color14;
outline: none;
}
